<h1>New Game</h1>
<ul class="letters">
  <% @letters.each do |letter| %>
    <li><%= letter %></li>
  <% end %>
</ul>

<p>What is the longest word you can find?</p>
<form action="/score" method="post">
  <input class="input" type="text" name="word">
  <input class="button" type="submit" value="Play">
</form>
